/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
/target
.env
database.db
database.db-*
.DS_Store
*.log.*
*.log
/storage
/config.toml
/.venv
/recordings
/packages/*/node_modules
/packages/*/dist
/packages/*/**/node_modules
/apps/*/**/node_modules
/supabase