@font-face {
  font-family: "Inter";
  src: url("/font/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  src: url("/font/RobotoMono.ttf") format("truetype");
}

html,
body {
  font-family: "Inter", sans-serif;
}

.font-mono {
  font-family: "RobotoMono", monospace;
}
